
     <h1 class="display-3 m-4">Encuesta</h1>
        <mat-card class="m-2" *ngFor="let pregunta of preguntas" >
            <div class="row">
                <div class="col-12 mb-1">
                    <label>{{pregunta.Pregunta}} </label>
                </div>
            </div>
            <mat-divider class="color"></mat-divider>
            <mat-radio-group>
                <div class="row mt-1">
                    <mat-radio-button class="mt-3 col-12" *ngFor="let respuesta of pregunta.respuestas;index as index" 
                     value="respuesta.estado" (change)="GuardarRespuesta($event,respuesta,pregunta)">  {{respuesta.DesRespuesta}} </mat-radio-button>
                </div>
            </mat-radio-group>
        </mat-card>
    <button mat-raised-button color="primary" (click)="EnviarEncuesta()">Enviar</button>
  